<div class="row3">Login <input type="text" class="form-control" placeholder="Login"></div>
<div class="row3">Email <input type="text" class="form-control" placeholder="Email"></div>
<div class="row3">Nickname <input type="text" class="form-control" placeholder="Nickname"></div>
<div class="upload-ava">
    Upload avatar
    <div><img class="question-image" src="https://yt3.googleusercontent.com/ytc/APkrFKYsoaQpZjWjvlJEaXcjP8eGObglBiMhHEaWoKeZgg=s900-c-k-c0x00ffffff-no-rj" alt="Avatar in settings"></div>
    <input type="file" class="btn btn-dark ask-button">
    <!--- <button type="button" class="btn btn-dark ask-button">Change avatar</button> --->
</div>