{% extends 'layouts/base.html' %}

{% block content %}

<!-- Главный вопрос -->
{% include 'elements/question-items/main-question.html'%}
<div>_________________________________________________________________________________________________________</div>

<!-- Второстепенные вопросы -->
{% for answer in answers %}
{% include 'elements/question-items/answer.html' %}
{% endfor %}
<div>_________________________________________________________________________________________________________</div>

<!-- Форма ввода ответа -->
<textarea class="form-control mb-5 mt-3" rows="10" placeholder="Enter your answer here."></textarea>

<!-- Кнопка ввода ответа -->
<button class="btn btn-dark d-inline-flex align-items-center dark" type="button"> Answer </button>
{% endblock %}
