<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">Answers  🧼.ru</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0 border">
                    <li >
                        <img class="nav-avatar" src="https://yt3.googleusercontent.com/ytc/APkrFKYsoaQpZjWjvlJEaXcjP8eGObglBiMhHEaWoKeZgg=s900-c-k-c0x00ffffff-no-rj" alt="Avatar on nav-bar">
                    </li>
                        <a class="nav-link ava-text" href="{% url 'settings' %}">Papich</a>
                        <a class="nav-link nav-text" href="{% url 'login' %}">Log out</a>
                        <a class="nav-link nav-text" href="{% url 'settings' %}">Settings</a>
                </ul>
                <form class="d-flex" role="search">
                    <button class="btn btn-outline-success d-inline-flex align-items-center dark me-2" type="button">
                        Ask!
                    </button>
                    <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>