<form>
    <div class="form-floating row2">
      <input type="login" class="form-control " id="floatingLogin" placeholder="name@example.com">
      <label for="floatingLogin">Login</label>
    </div>
    <div class="form-floating">
      <input type="email" class="form-control row3" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="nickname" class="form-control row3" id="floatingName" placeholder="name@example.com">
      <label for="floatingName">Nickname</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control row3" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control row3" id="floatingPasswordRepeat" placeholder="Password">
      <label for="floatingPasswordRepeat">Repeat Password</label>
    </div>

    <div class="text-start my-3 ">
        <input type="file" class="btn btn-dark ask-button">
    </div>

    <button class="btn btn-dark w-10 py-2" type="submit">Register!</button>
</form>